/* Aula inicial :D */
/* O * é o reset do CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*começa a contar o tamanho a partir da borda interna*/
}

html{
    scroll-behavior: smooth;
}

body {
    background-image: url("../imagem/background-body-projetos.png");
    background-color: #000;
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 0;
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
/* background-size: altura largura - ex: auto 100vh */
}

body::-webkit-scrollbar { /* estabelece a espessura da barra de rolagem */
    width: 15px;
} 
  
body::-webkit-scrollbar-thumb {    /* Muda a cor da barra de rolagem */
    background-image: linear-gradient( -0.2turn, #662e9b, #ea3546, #f86624, #f9c80e);   
}

header {
    min-height: 100vh;
    margin-right: 20%;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
    display: block;
    padding: 10px;
    margin: 10px;
    transition: background-color, color, 2s;
    /* transition: background-color 5s, color, 2s; */
}

.menu a:hover {
    text-decoration: underline;
    color: #f86624;
    background-color: #00000080;
    border-radius: 10px;
    display: block;
    padding: 10px;
    margin: 10px;
    filter: blur(1px);
}

.menu {
    background-image: linear-gradient( -0.2turn, #662e9b, #ea3546, #f86624, #f9c80e);
    border-radius: 0px 0px 10px 10px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    padding: 2px;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
    font-size: 20px;
}

header section {
    margin-left: 2em;
}

.titulos-projetos {
    margin-top: 6%;
}

.titulos-projetos h2 {
    color: #f9c80e;
    text-align: left;
    font-style: italic;
    font-family: 'The Girl Next Door', cursive;
    font-size: 2em;
}

.titulos-projetos span {
    color: #ea3546;
}

hr {
    color: #fff;
    background-image: linear-gradient( -0.2turn, #662e9b, #ea3546, #f86624, #f9c80e);
    height: 2.5px;
    margin-bottom: 20px;
}

.emDesenvolvimento {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.emDesenvolvimento h1 {
    color: #fff;
}

.emDesenvolvimento span {
    color: #f9c80e;
}

/* Inicia os CARDs */

.container {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(2,auto);

}

.container-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 1em;
}

.flip-card {
    height: 250px;
    perspective: 1000px;
}

.flip-card:hover .card {
    transform: rotateY(180deg);
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 500ms;
}

.card-front,
.card-back {
    backface-visibility: hidden;
    left: 0;
    position: absolute;
    top: 0;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-back {
    display: flex;
    flex-direction: column;
    transform: rotateY(180deg);
}

.card-back span {
    color: #f86624;
}

.card-back a {
    text-decoration: none;
    color: #fff;
    transition: text-shadow 500ms;
}

.card-back a:hover {
    text-decoration: none;
    text-shadow: 5px 5px 10px #f9c80e;
}

.card-front {
    text-align: center;
}

.flip-card {
    height: 250px;
    width: 500px;
}

.card-front img,
.card-back {
    height: 250px;
    width: 500px;
    border: 2px solid #f9c80e;
    border-radius: 10px;
}


/* 
CORES --> AMARELO : #f9c80e;
          LARANJA : #f86624;
          ROSA : #ea3546;
          ROXO : #662e9b;
          AZUL : #43bccd;
          CINZA : #252422;

REGRAS DO CSS FONTS:
    font-family: 'Indie Flower', cursive;
    font-family: 'Courier Prime', monospace;
    font-family: 'The Girl Next Door', cursive;
*/
