/* Aula inicial :D */
/* O * é o reset do CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*começa a contar o tamanho a partir da borda interna*/
}

html{
    scroll-behavior: smooth;
}

body {
    background-image: url("../imagem/background-body.png");
    background-color: #000;
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 0;
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
/* background-size: altura largura - ex: auto 100vh */
}

body::-webkit-scrollbar { /* estabelece a espessura da barra de rolagem */
    width: 15px;
} 
  
body::-webkit-scrollbar-thumb {    /* Muda a cor da barra de rolagem */
    background-image: linear-gradient( -0.2turn, #662e9b, #ea3546, #f86624, #f9c80e);   
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
    display: block;
    padding: 10px;
    margin: 10px;
    transition: background-color, color, 2s;
    /* transition: background-color 5s, color, 2s; */
}

.menu a:hover {
    text-decoration: underline;
    color: #f86624;
    background-color: #00000080;
    border-radius: 10px;
    display: block;
    padding: 10px;
    margin: 10px;
    filter: blur(1px);
}

.menu {
    background-image: linear-gradient( -0.2turn, #662e9b, #ea3546, #f86624, #f9c80e);
    border-radius: 0px 0px 10px 10px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    padding: 2px;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
    font-size: 20px;
}

.titulos {
    transform: scale(0.1) translate(50vh);
    opacity: 0;

    animation: 500ms linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
    from {
        /* colocado no .titulos então nem precisa colocar */
        /* Pode colocar de 0% a 100% */
    }
    to {
        transform: scale(1) translate(0);
        opacity: 1;
    }
}

.site-title {
    color: #f9c80e;
    text-align: center;
    font-size: 3em;
    font-family: 'Indie Flower', cursive;
}

.site-subtitle {
    color: #ea3546;
    text-align: center;
    font-style: italic;
    font-family: 'The Girl Next Door', cursive;
    font-size: 2em;
}

.site-subtitle span {
    color: #f9c80e;
}

/* Se a tela tiver pelo menos 400 px vai carregar os estilo */
/* BreakPoint */  
@media (max-width: 768px) {
    body {
        background-position: center;
        background-position-y: 0;
    }
    .site-title {
        font-size: 2.5em;
        font-family: 'Indie Flower', cursive;
    }
    .site-subtitle {
        font-size: 1.5em;
    }
}

@media (max-width: 650px) {
    .site-title {
        font-size: 2.5em;
    }
    .site-subtitle {
        font-size: 1.5em;
    }
}

@media (max-width: 500px) {
    .site-title {
        font-size: 2.0em;
        font-family: 'Indie Flower', cursive;
    }
    .site-subtitle {
        font-size: 1.0em;
    }
    .menu li {
        font-size: 15px;
    }
}

@media (max-width: 411px) {
    .site-title {
        font-size: 1.5em;
        font-family: 'Indie Flower', cursive;
    }
    .site-subtitle {
        font-size: 1em;
    }
    .menu li {
        font-size: 17px;
    }
    .menu ul {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media (max-width: 375px) {
    .menu {
        padding: 0;
    }
    .menu li {
        font-size: 12px;
    } 
}

.portifolio {
    background-color: #1e110e;
    padding: 2em;
    min-height: 100vh;
}

.portifolio .grid {
    display: grid;
    gap: 2em; /* Definir espaçamento entre cada coluna ou linha */
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    align-content: center;
    height: 70vh;
}

.portifolio figure {
    text-align: center;
}

.portifolio h2 {
    font-family: 'The Girl Next Door', cursive;
    color: #f9c80e;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2.5em;
}

.portifolio span {
    color: #ea3546;
}

.portifolio figcaption {
    font-size: 25px;
    line-height: 2.5em;
}

figure {
    text-align: center;

}

figure img {
    height: 280px;
    width: 280px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    border: 2px solid #f86624;
    transition: transform 500ms;
}

figure img:hover {
    transform: scale(1.5);
}

figcaption {
    color: #FFF;
}

hr {
    color: #fff;
    background-image: linear-gradient( -0.2turn, #662e9b, #ea3546, #f86624, #f9c80e);
    height: 2.5px;
    margin-bottom: 20px;
}

@media (max-width: 1024px) {
    .portifolio .grid {
        grid-template-columns: repeat(2, auto);
    }
    figure img {
        height: 180px;
        width: 180px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
        border: 2px solid #f86624;
        align-content: center;
    }
    .portifolio figcaption {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .portifolio .grid {
        grid-template-columns: repeat(2, auto);;
    }
    figure img {
        height: 140px;
        width: 140px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
        border: 2px solid #f86624;
        align-content: center;
    }
    .portifolio h2 {
        padding-top: 15px;
        font-size: 1.5em;
    }
}

@media (max-width: 650px) {
    .portifolio .grid {
        grid-template-columns: repeat(2, auto);;
    }
    figure img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
        border: 2px solid #f86624;
        align-content: center;
    }
    .portifolio h2 {
        padding-top: 10px;
        font-size: 1.5em;
    }
}

@media (max-width: 411px) {
    .portifolio .grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .portifolio figcaption {
        font-size: 18px;
    }
    .portifolio h2 {
        font-size: 1.2em;
    }
    .portifolio .grid {
        display: grid;
        gap: 2em; /* Definir espaçamento entre cada coluna ou linha */
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        align-content: center;
    }
    .portifolio h2 {
        padding-top: 80px;
        font-size: 1.5em;
    }
}
@media (max-width: 375px) {
    
    .portifolio figcaption {
        font-size: 12px;
    }
    .portifolio h2 {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding-top: 80px;
        font-size: 1em;
    }
    hr {
        margin-top: 0px;
    }
    
}
@media (max-width: 320px) {
    
    .portifolio figcaption {
        font-size: 12px;
    }
    .portifolio h2 {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-size: 1em;
    }
    hr {
        margin-top: 0px;
    }
    
}

.anacg {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    align-content: center;
    height: 100vh;
}

.anacg div {
    text-align: center;
    align-items: center;
}

.anacg img {
    width: 70%;
    border: 3px solid #f9c80e;
    border-radius: 10%;
    margin-top: 5%;
}

.redes-sociais {
    background-image: linear-gradient(-0.2turn, #662e9b80, #ea354680, #f8662480, #f9c80e80);
    border-radius: 10%;
    margin: 10%;
    padding-top: 10%;
}

.grid a {
    color: #000;
    font-size: 3em;
    padding: 5%;
    text-decoration: none;
    transition: text-shadow 1s;
}

.grid a:active,
.grid a:hover {
    text-decoration: none;
    text-shadow: 5px 5px 10px #f9c80e;
}

.redes-sociais h2 {
    padding-bottom: 40px;
    color: #f9c80e;
}

.redes-sociais span {
    color: #ea3546;
}

.redes-sociais .grid{
    display: grid;
    grid-template-columns: auto auto auto;
}


@media (max-width: 768px) {
    .anacg {
        display: flex;
        flex-direction: column;
        margin-top: 70px;
    }
    .anacg img {
        width: 60%;
    }   
    .redes-sociais {
        margin-top: 0;
    } 
    .redes-sociais h2 {
        padding-bottom: 10px;
        color: #f9c80e;
        font-size: 23px;
    }
}

@media (max-width: 650px) {
    .redes-sociais h2 {
        padding-bottom: 10px;
        color: #f9c80e;
        font-size: 23px;
    }
}

@media (max-width: 500px) {
    .redes-sociais h2 {
        font-size: 18px;
    }
}

@media (max-width: 411px) {
    .anacg {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .anacg img {
        width: 50%;
    }
}



/* 
CORES --> AMARELO : #f9c80e;
          LARANJA : #f86624;
          ROSA : #ea3546;
          ROXO : #662e9b;
          AZUL : #43bccd;
          CINZA : #252422;

REGRAS DO CSS FONTS:
    font-family: 'Indie Flower', cursive;
    font-family: 'Courier Prime', monospace;
    font-family: 'The Girl Next Door', cursive;
*/
